<header class="search-header {% if compact == true %}search-header--compact{% endif %}">
    <h1>Search Results</h1>
    <form class="search-header__form" action="" method="">
    {% include "molecules-search-input-group" with {'table': true, 'full': true, cap: 'input-right'} %}
    </form>
    <section class="search-header__meta-container">
        {% if compact == true %}
        <!--  TODO: Break up (or combine?) results meta and tag-lists -->
        <p class="search-header__results-meta"><strong>1 - 11</strong> of <strong>1040</strong> results for</p>
        {% include "base-search-facet-tag-list--compact" %}
        {% else %}
        {% include "base-search-results-meta" %}
        {% include "base-search-facet-tag-list" %}
        {% endif %}
    </section>
</header>
