<header class="search-header search-header--advanced">
    <h1>Search Results</h1>
    <form class="search-header__form" action="" method="">
    {% include "molecules-search-input-group" with {'table': true, 'full': true, cap: 'input-right', cap_text: 'Search'} %}
    </form>
    <form class="search-header__advanced-form" action="" method="">
        <input id="advanced-search-toggle" type="checkbox" class="search-header__form-toggle visuallyhidden">
        <label for="advanced-search-toggle" class="search-header__form-toggle-label">Advacned Search <svg aria-hidden="true" class="icon icon-unfold_more"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/svgdefs.svg#icon-unfold_more"></use></svg><svg aria-hidden="true" class="icon icon-unfold_less"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/svgdefs.svg#icon-unfold_less"></use></svg></label>
        <fieldset class="search-header__fieldset">
            <legend class="search-header__legend legend">Find results with&hellip;</legend>
            {% include "molecules-search-input-group" with {table: true, 'full': true, cap: 'span-left', cap_text: 'all these words:'} %}
            {% include "molecules-search-input-group" with {table: true, 'full': true, cap: 'span-left', cap_text: 'this exact word or phrase:'} %}
            {% include "molecules-search-input-group" with {table: true, 'full': true, cap: 'span-left', cap_text: 'any of these words:'} %}
            {% include "molecules-search-input-group" with {table: true, 'full': true, cap: 'span-left', cap_text: 'none of these words:'} %}
            <div class="input-group input-group--submit-controls">
                <div class="input-group_primary-action">
                    {% include "base-search-btn" with {btn_text: 'Advanced Search', btn_name: 'advanced-search'} %}
                </div>
                <div class="input-group_secondary-action">
                    {% include "base-search-btn" with {btn_text: 'Cancel', btn_name: 'advanced-search-reset', btn_type: 'reset'} %}
                </div>
            </div>
        </fieldset>

    </form>
    <section class="search-header__meta-container">
        {% if compact == true %}
        <!-- TODO: Break up (or combine?) results meta and tag-lists -->
        <p class="search-header__results-meta"><strong>1 - 11</strong> of <strong>1040</strong> results for</p>
        {% include "base-search-facet-tag-list--compact" %}
        {% else %}
        {% include "base-search-results-meta" %}
        {% include "base-search-facet-tag-list" %}
        {% endif %}
    </section>
</header>
