<!-- NOTE:
            `form` element is required to make `.search-facet__reset` work.
            Unique `id` is needed for each instance of a `search-facet` component.
-->
<form id="search-facet-01" class="search-facet search-facet--expand-short search-facet--list">
    <fieldset class="search-facet__fieldset">
        <legend class="search-facet__legend legend">By Content Type</legend>
        <div class="search-facet__checkbox-group">
            <input id="facet-by-story" type="checkbox" class="visuallyhidden">
            <label for="facet-by-story">Story (317)</label>
        </div>
        <div class="search-facet__checkbox-group">
            <input id="facet-by-blog" type="checkbox" class="visuallyhidden">
            <label for="facet-by-blog">Blog post (301)</label>
        </div>
        <div class="search-facet__checkbox-group">
            <input id="facet-by-journal" type="checkbox" class="visuallyhidden">
            <label for="facet-by-journal">Journal article (269)</label>
        </div>
        <div class="search-facet__checkbox-group">
            <input id="facet-by-program-results" type="checkbox" class="visuallyhidden">
            <label for="facet-by-program-results">Program results report (160)</label>
        </div>
        <div class="search-facet__checkbox-group">
            <input id="facet-by-news-release" type="checkbox" class="visuallyhidden">
            <label for="facet-by-news-release">News release (153)</label>
        </div>
        <input id="content-type-toggle" type="checkbox" class="search-facet__toggle visuallyhidden">
        <label for="content-type-toggle" class="search-facet__toggle-label">See</label>
        <div class="search-facet__checkbox-group">
            <input id="facet-by-video" type="checkbox" class="visuallyhidden">
            <label for="facet-by-video">Videos (200)</label>
        </div>
        <div class="search-facet__checkbox-group">
            <input id="facet-by-infographic" type="checkbox" class="visuallyhidden">
            <label for="facet-by-infographic">Infographics (133)</label>
        </div>
        <div class="search-facet__checkbox-group">
            <input id="facet-by-president-message" type="checkbox" class="visuallyhidden">
            <label for="facet-by-president-message">President&apos;s Message (10)</label>
        </div>
        {% include "base-search-btn" with {'btn_text': 'Clear all', 'btn_name': 'reset', 'btn_type': 'reset', 'btn_class': 'search-facet__reset'} %}
    </fieldset>
</form>
