<section class="search-facet search-facet--expand-long">
    <nav aria-labeledby="aria-label-top" class="search-facet__filter-nav" role="navigation">
        <div class="search-facet__nav-header">
            <h3 class="search-facet__filter-title" id="aria-label-top">Filter by Content Type</h3>
            <h4 class="search-facet__filter-heading">Viewing:</h4>
        </div>
        <ol class="search-facet__nav-list pagination">
            <li class="is-disabled">
                <a href="" title="#">#</a>
            </li>
            <li class="is-active">
                <a href="#" title="A">A</a>
            </li>
            <li>
                <a href="#" title="B">B</a>
            </li>
            <li>
                <a href="#" title="C">C</a>
            </li>
            <li>
                <a href="#" title="D">D</a>
            </li>
            <li>
                <a href="#" title="E">E</a>
            </li>
            <li>
                <a href="#" title="F">F</a>
            </li>
            <li>
                <a href="#" title="G">G</a>
            </li>
            <li>
                <a href="#" title="H">H</a>
            </li>
            <li>
                <a href="#" title="I">I</a>
            </li>
            <li>
                <a href="#" title="J">J</a>
            </li>
            <li>
                <a href="#" title="K">K</a>
            </li>
            <li>
                <a href="#" title="L">L</a>
            </li>
            <li>
                <a href="#" title="M">M</a>
            </li>
            <li>
                <a href="#" title="N">N</a>
            </li>
            <li>
                <a href="#" title="O">O</a>
            </li>
            <li>
                <a href="#" title="P">P</a>
            </li>
            <li>
                <a href="#" title="Q">Q</a>
            </li>
            <li>
                <a href="#" title="R">R</a>
            </li>
            <li>
                <a href="#" title="S">S</a>
            </li>
            <li>
                <a href="#" title="T">T</a>
            </li>
            <li>
                <a href="#" title="U">U</a>
            </li>
            <li>
                <a href="#" title="V">V</a>
            </li>
            <li>
                <a href="#" title="W">W</a>
            </li>
            <li class="is-disabled">
                <a href="" title="X">X</a>
            </li>
            <li class="is-disabled">
                <a href="" title="Y">Y</a>
            </li>
            <li class="is-disabled">
                <a href="" title="Z">Z</a>
            </li>
        </ol>
    </nav>
    <ul class="search-facet__item-list">
        <li>
            <a href="" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        </li>
        <li>
            <a href="" title="Suspendisse quis lacus nulla.">Suspendisse quis lacus nulla.</a>
        </li>
        <li>
            <a href="" title="Donec posuere sapien eu auctor lacinia.">Donec posuere sapien eu auctor lacinia.</a>
        </li>
        <li>
            <a href="" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
        </li>
        <li>
            <a href="" title="Suspendisse quis lacus nulla.">Suspendisse quis lacus nulla.</a>
        </li>
        <li>
            <a href="" title="Donec posuere sapien eu auctor lacinia.">Donec posuere sapien eu auctor lacinia.</a>
        </li>
    </ul>
    <nav aria-labeledby="aria-label-bottom" class="search-facet__filter-nav" role="navigation">
        <div class="search-facet__nav-header">
            <h3 class="search-facet__filter-title" id="aria-label-bottom">Filter by Content Type</h3>
            <h4 class="search-facet__filter-heading">Viewing:</h4>
        </div>
        <ol class="search-facet__nav-list pagination">
            <li class="is-disabled">
                <a href="" title="#">#</a>
            </li>
            <li class="is-active">
                <a href="#" title="A">A</a>
            </li>
            <li>
                <a href="#" title="B">B</a>
            </li>
            <li>
                <a href="#" title="C">C</a>
            </li>
            <li>
                <a href="#" title="D">D</a>
            </li>
            <li>
                <a href="#" title="E">E</a>
            </li>
            <li>
                <a href="#" title="F">F</a>
            </li>
            <li>
                <a href="#" title="G">G</a>
            </li>
            <li>
                <a href="#" title="H">H</a>
            </li>
            <li>
                <a href="#" title="I">I</a>
            </li>
            <li>
                <a href="#" title="J">J</a>
            </li>
            <li>
                <a href="#" title="K">K</a>
            </li>
            <li>
                <a href="#" title="L">L</a>
            </li>
            <li>
                <a href="#" title="M">M</a>
            </li>
            <li>
                <a href="#" title="N">N</a>
            </li>
            <li>
                <a href="#" title="O">O</a>
            </li>
            <li>
                <a href="#" title="P">P</a>
            </li>
            <li>
                <a href="#" title="Q">Q</a>
            </li>
            <li>
                <a href="#" title="R">R</a>
            </li>
            <li>
                <a href="#" title="S">S</a>
            </li>
            <li>
                <a href="#" title="T">T</a>
            </li>
            <li>
                <a href="#" title="U">U</a>
            </li>
            <li>
                <a href="#" title="V">V</a>
            </li>
            <li>
                <a href="#" title="W">W</a>
            </li>
            <li class="is-disabled">
                <a href="" title="X">X</a>
            </li>
            <li class="is-disabled">
                <a href="" title="Y">Y</a>
            </li>
            <li class="is-disabled">
                <a href="" title="Z">Z</a>
            </li>
        </ol>
    </nav>
</section>
