<!-- NOTE:
            `form` element is required to make `.search-facet__reset` work.
            Unique `id` is needed for each instance of a `search-facet` component.
-->
<form id="search-facet-02" class="search-facet search-facet--time">
    <fieldset class="search-facet__fieldset">
        <legend class="search-facet__legend legend">By Publish Date</legend>
        <div class="search-facet__checkbox-group">
            <input id="facet-by-past-24hrs" type="checkbox" class="visuallyhidden">
            <label for="facet-by-past-24hrs">Past 24 Hours (15)</label>
        </div>
        <div class="search-facet__checkbox-group">
            <input id="facet-by-past-week" type="checkbox" class="visuallyhidden">
            <label for="facet-by-past-week">Past Week (30)</label>
        </div>
        <div class="search-facet__checkbox-group">
            <input id="facet-by-past-month" type="checkbox" class="visuallyhidden">
            <label for="facet-by-past-month">Past Month (60)</label>
        </div>
        <div class="search-facet__checkbox-group">
            <input id="facet-by-past-year" type="checkbox" class="visuallyhidden">
            <label for="facet-by-past-year">Past Year (720)</label>
        </div>
        {% include "base-search-btn" with {'btn_text': 'Clear all', 'btn_name': 'reset', 'btn_type': 'reset', 'btn_class': 'search-facet__reset'} %}
    </fieldset>
    <fieldset class="search-facet__fieldset">
        <legend class="search-facet__legend">Custom Range</legend>
        <div class="search-facet__date-group">
            <div class="search-facet__float-group">
                <input id="facet-by-start-date" type="text" onfocus="(this.type='date')" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}"  placeholder="From: dd/mm/yy">
                <label for="facet-by-start-date" class="visuallyhidden">From</label>
            </div>
            <div class="search-facet__float-group">
                <input id="facet-by-start-date" type="text" onfocus="(this.type='date')" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}"  placeholder="To: dd/mm/yy">
                <label for="facet-by-start-date" class="visuallyhidden">To</label>
            </div>
        </div>
    </fieldset>
</form>
