<ol class="pagination">
    <li class="pagination__prev is-disabled">
        <a href="#" title="Preview Page">Previous</a>
    </li>
    <li class="is-active">
        <a href="#" title="Current Page">1</a>
    </li>
    <li>
        <a href="#" title="Page 2">2</a>
    </li>
    <li>
        <a href="#" title="Page 3">3</a>
    </li>
    <li>
        <a href="#" title="Page 4">4</a>
    </li>
    <li class="is-disabled">
        <a href="" title="Unavailable">&hellip;</a>
    </li>
    <li>
        <a href="#" title="Page 11">11</a>
    </li>
    <li>
        <a href="#" title="Page 12">12</a>
    </li>
    <li class="pagination__next">
        <a href="#" title="Next Page">Next</a>
    </li>
</ol>
