<label for="search-keyword-input" class="visuallyhidden">Search by keyword</label>
<input type="text" name="search-keyword-input" placeholder="Search by keyword" {% if full == true %}class="l-full"{% endif %}>
