<div class="cap
    {% if cap_type == 'span' %}cap--span{% else %}cap--btn{% endif %}">
    {% if cap_type == 'span' %}
    <span class="btn">
        {% if cap_text %}
            {{ cap_text }}
        {% else %}
        Cap Text
        {% endif %}
    </span>
    {% else %}
    {% include "base-search-btn" %}
    {% endif %}
</div>
