<dl class="search-header__facet-tag-list">
    <dt>Topics:</dt>
    <dd>
        <a href="#" title="Curabitur" class="btn btn--tag">Curabitur<svg class="icon icon-cancel_circle"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/svgdefs.svg#icon-cancel_circle"></use></svg></a>
    </dd>
    <dd>
        <a href="#" title="Morbi lacus" class="btn btn--tag">Morbi lacus<svg class="icon icon-cancel_circle"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/svgdefs.svg#icon-cancel_circle"></use></svg></a>
    </dd>
    <dt>Content Type:</dt>
    <dd>
        <a href="#" title="Donec posuere" class="btn btn--tag">Donec posuere<svg class="icon icon-cancel_circle"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/svgdefs.svg#icon-cancel_circle"></use></svg></a>
    </dd>
    <dd>
        <a href="#" title="Cras feugiat" class="btn btn--tag">Cras feugiat<svg class="icon icon-cancel_circle"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../images/svgdefs.svg#icon-cancel_circle"></use></svg></a>
    </dd>
</dl>
