// pagination.scss
// Define pagination styles here

// base
.pagination{
    @include zero;
    @include zero-list;
    font-size: rem(13);
    line-height: 1.15;
    color: color(wireframe, 600);

    li{
        @include zero;
        display: inline-block;
        background-color: transparent;
        transition: background-color .35s;
        &:hover{
            background-color: color(wireframe, 300);
        }

        &.is-active{
            background-color: color(wireframe, 400);
            a{
                color: color(wireframe);
                font-weight: bold;
            }
        }

        &.is-disabled{
            background: none;
            transition: none;
            a, a:before, a:after{
                color: color(wireframe, 600, .35);
                cursor: default;
            }
        }
    }
    a{
        display: inline-block;
        padding: rem(3) rem(6);
        color: color(wireframe, 600);
        text-decoration: none;
    }
}
// prev/next links
.pagination__prev{
    a:before{
        content: "«";
        display: inline-block;
        margin-right: rem(6);
    }
}
.pagination__next{
    a:after{
        content: "»";
        display: inline-block;
        margin-left: rem(6);
    }
}
