// search-facet.scss
// Define search facet styles here
// base
.search-facet {

}

// fieldset and legend
.search-facet__fieldset,
.search-facet__legend {
}

// fieldset
.search-facet__fieldset {
    font-size: rem(13);
    background-color: color(wireframe, 200);

    //multiple fieldsets
    & + & {
        padding-top: rem(20);

        // @include debug-bars;
        // multiple legends
        .search-facet__legend {
            top: 0;
        }
    }
}

// legend
.search-facet__legend {

    // first facet group
    & + .search-facet__checkbox-group,
    & + .search-facet__date-group {
        padding-top: rem(10);
        margin-top: rem(8);
        border-top: 1px solid color(wireframe, 400);
    }
}

// all facet groups
.search-facet__checkbox-group,
.search-facet__date-group {
    position: relative;
    margin-bottom: rem(4);
}

// checkbox groups
.search-facet__checkbox-group {

    // checkbox inputs
    input[type="checkbox"] {

    }

    // when inputs are checked, style labels, and their pseudo elements
    input:checked {
        & + label {
            color: color(wireframe);
            font-weight: bold;
            &:before {
                background-color: color(wireframe, 400);
            }
            &:after {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    // labels
    label {
        position: relative;
        display: block;
        padding: rem(6) rem(20) rem(6) 0;
        font-weight: normal;
        line-height: 1.4;
        cursor: pointer;
        transition: color 0.35s 0.025s;
        z-index: 1;

        // pseudo BG for "checked" state
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;

            // position given padding on `.search-facet`
            left: rem(-20);
            right: rem(-20);
            bottom: 0;
            z-index: -1;
            background-color: transparent;
            transition: background-color 0.35s;
        }

        // pseudo "Clear Link" for "checked" state
        &:after {
            content: "Clear";
            display: inline-block;
            position: absolute;
            right: 0;
            top: rem(6);
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.35s;
        }
    }
}

// date groups
.search-facet__date-group {
    overflow: hidden;
    .search-facet__float-group {
        padding: rem(5);
        float: left;
        width: 48%;
        &:nth-of-type(even) {
            float: right;
        }
    }
    input {
        width: 100%;
    }
}

// facet display toggle
.search-facet__toggle {

    // "hide" facet groups
    & ~ .search-facet__checkbox-group {
        display: none;
    }

    // when checked, unhide facet groups
    &:checked ~ .search-facet__checkbox-group {
        display: block;
    }

    // when checked, change pseudo contents
    &:checked + label:before {
        content: "-";
    }
    &:checked + label:after {
        content: "Less";
    }
}

// facet display toggle label
.search-facet__toggle-label {
    display: block;

    // position given padding on `.search-facet`
    position: absolute;
    bottom: rem(6);
    right: rem(20);
    left: rem(20);
    padding: rem(10) 0;
    border-top: 1px solid color(wireframe, 400);
    cursor: pointer;

    // set pseudo contents in default state
    &:before {
        content: "+";
        position: relative;
        top: rem(-1);
        display: inline-block;
        line-height: 1.4;
        margin-right: rem(4);
    }
    &:after {
        content: "More";
        display: inline-block;
        margin-left: rem(4);
    }
}

// search facet reset
.search-facet__reset {
    position: absolute;
    top: rem(18);
    right: rem(12);
}

// search facet expand view
// base
.search-facet__nav-header,
.search-facet__filter-heading,
.search-facet__filter-title,
.search-facet__nav-list {
    @include zero;
    display: inline;
    font-size: rem(13);
}

// search filter nav
.search-facet__filter-nav {
    display: inline-block;
    width: 100%;
    padding: 0 rem(30) 0 rem(20);
    background-color: color(wireframe, 200);
}

// search filter header
.search-facet__nav-header {
    display: inline;
    padding: rem(8) rem(10) rem(8) 0;
}

// search filter title + heading
.search-facet__filter-title {
    & + .search-facet__filter-heading {
        font-weight: normal;
        margin-left: rem(20);
    }
}

// search filter nav list
.search-facet__nav-list li {
    @include zero;
    a {
        padding: rem(8);
        color: color(wireframe, 600);
    }
}

// search facet item list
.search-facet__item-list {
    @include zero;
    @include zero-list;
    padding: rem(30);
    text-align: center;
    li {
        display: inline-block;
        width: 30%;
        max-width: 30%;
        text-align: left;
        vertical-align: top;
    }
    a {
        display: list-item;
        list-style-type: disc;
        margin-right: 30%;
    }
}

// modifiers
// expand short
.search-facet--expand-short {
    .search-facet__fieldset {
        padding-bottom: rem(48);
    }
}
