// search-facet-heading.scss
// Define search facet heading styles here

// base
.search-heading{
    padding: rem(10) rem(20);
    background-color: color(wireframe, 300);
    overflow: hidden;
    // header
    h1{
        @include zero;
        display: inline-block;
        font-size: rem(18);
    }
}
// search heading reset
.search-heading__reset{
    float: right;
    font-size: rem(13);
}
