// search-facet.scss
// Define search facet styles here

// base
.search-header {

}

// meta container
.search-header__meta-container {
    font-size: rem(15);
}

// search facet tag list
.search-header__facet-tag-list {
    @include zero;
    margin-bottom: rem(20);
    dt,
    dd,
    li {
        @include zero;
        display: inline-block;
        margin-bottom: rem(4);
    }
    dd,
    li {
        &:after {
            content: ",";
            display: inline-block;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    // btn tags
    .btn--tag {
        font-size: rem(13);
    }
}

// advanced search form
.search-header__advanced-form{
}

// fieldset and legend
.search-header__fieldset,
.search-header__legend {

}
// search header fieldset
.search-header__fieldset{
    padding-left: 0;
    padding-right: 0;
}
// search header legend
.search-header__legend{
    top: rem(18);
    left: 0;
    font-size: rem(15);
}



// search header form toggle
.search-header__form-toggle{
    // show/hide icons in checked state
    &:checked + label {
        .icon-unfold_more{
            opacity: 0;
            visibility: hidden;
        }
        .icon-unfold_less{
            opacity: 1;
            visibility: visible;
        }
    }
    // hide fieldset in default state
    & ~ .search-header__fieldset{
        display: none;
    }
    // display fieldset in checked state
    &:checked ~ .search-header__fieldset{
        display: block;
    }

}

// search header form toggle label
.search-header__form-toggle-label{
    position: relative;
    display: block;
    text-align: right;
    padding-right: rem(22);
    cursor: pointer;
    // position icons
    .icon{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
        visibility: visible;
        transition: opacity 0.35s;
    }
    // hide less icon in default state
    .icon-unfold_less{
        opacity: 0;
        visibility: hidden;
    }
}


// search header reset
.search-header__reset{
}

// modifiers
// compact
.search-header--compact {
    .search-header__results-meta,
    .search-header__facet-tag-list {
        display: inline;
    }
}
// advanced search
.search-header--advanced{
    .search-header__form .input-group{
        margin-bottom: rem(10);
    }
}
